header a{color:white !important;}
header h1{font-size: 48px;}
header a:hover{color:white !important;text-decoration: none}


.buttons{font-size:30px;}

.sbg-button{
  display:inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 0;
  border-radius:.5em;
  background-color:black;
  color:white;
  cursor: pointer;
}
.sbg-button:hover{color:white;}

.sbg-button-icon{font-size:.5em;padding:.5em;}

.sbg-button-facebook{background-color:#3b5998;}
.sbg-button-facebook .sbg-button-icon{padding-left:.44em;}
.sbg-button-twitter{background-color:#00aced;}
.sbg-button-twitter .sbg-button-icon{padding-left:.48em;}
.sbg-button-linkedin{background-color:#007bb6;}
.sbg-button-google-plus{background-color:#dd4b39;}
.sbg-button-pinterest{background-color:#cb2027;}
.sbg-button-pinterest .sbg-button-icon{padding-left:.45em;padding-top: .48em;}
.sbg-button-email{background-color:#999999;}
.sbg-button-email .sbg-button-icon{padding-left: .434em;padding-top: .44em;}