h3{
	color: #333333;
	text-align: right;
	font-size: 24px;
	margin-top: 0;
}
@media (max-width: 768px){h3{text-align: left}}

.row{margin-bottom: 10px;color:#666;}
.section-content{line-height: 1.5em}


h6{
	color: #3b3b3b;
	font-weight: bold;
	font-size:16px;
	text-decoration: underline;
}

.filters{margin-bottom: 25px;}
.filters .btn{margin-bottom: 2px;outline: none !important;}
@media (min-width: 768px){.filters .btn{float: right}}

.project{margin-bottom: 30px;background-color:white;}
.project-wrapper{
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px 1px #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
}
.project-screens{
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.project-screen{
	margin:0px auto 5px;
	display: inline-block;
	border:1px solid #ccc;
	height: 200px;
	min-width: 1px;
}