@font-face {
	font-family: 'BebasNeueRegular';
	src: url('/fonts/bebasneue-webfont.eot');
	src: url('/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bebasneue-webfont.woff') format('woff'), url('Fonts/bebasneue-webfont.ttf') format('truetype'), url('Fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{font-family: 'Source Sans Pro', sans-serif;font-size: 16px;}

header{
	background-color: #333;
	color:white;
	margin-bottom: 20px;
}
header h1{
	font-size: 72px;
	font-family: "BebasNeueRegular", Arial, Times New Roman, serif;
}
.header-tagline{font-size: 24px;color:#ccc;}
.header-links{margin-bottom: 10px;font-size: 18px;color:#666;}
.header-links a{color:#666;cursor: pointer}
.header-links a:hover{color:#999;text-decoration: none}

.container{max-width: 960px;}